# unpacked plugin folders
plugins/**/*

# files directory where uploads go
files

# DBMigrate plugin: generated SQL
db/dder

# AssetBundler plugin: generated bundles
javascripts/bundles342
stylesheets/bundles
